<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Урок 3</title>
	<link rel="stylesheet" href="style.css">
  </head>
  <body>
  <header>
 <nav>
 <a href="#about">О программе</a>
 <a href="#prices">Цены</a>
 <a href="#contact">Контакты</a>
 </nav>
 <h1>Увеличивайте продажи с программой
 «Аудит без границ» &trade;</h1>
 <button>Узнать больше</button>
</header>
   <address>
   <p>450000, Уфа, ул. Пушкина дом Колотушкина</p>
   <p>8 800 123456</p>
   </address>
   <blockquote> "Никогда и ничего не просите, никогда и ничего,
 особенно у тех, кто сильнее Вас, сами все
 предложат и сами все дадут" &reg;
 <footer>Михаил Булгаков</footer></blockquote>
 <abbr title="Cascading Style Sheets">CSS</abbr>
 <p><b>Текст</b>Текст</p>
 
 <p><em>Русская фраза</em>: "И напоследок <mark>важная
информация</mark> о месте и времени воскресных
собраний нашей церкви."<br>
<em>Английская фраза</em>: "And in the end take
notice of the <mark>important information</mark>
about the place and time of Sunday meetings."</p>

 
 <h1>Заголовок 1 уровня</h1>
<h2>Заголовок 2 уровня</h2>
<h3>Заголовок 3 уровня</h3>
<h4>Заголовок 4 уровня</h4>
<h5>Заголовок 5 уровня</h5>
<h6>Заголовок 6 уровня</h6>

  </body>
</html>